<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= @title.nil? ? Site.name : @title %></title>
	
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/simple-cms.css?v=1">
	
	<link rel="alternate" type="application/rss+xml" title="<%= Site.name %> Feed" href="/feed" />	
	
</head>

	<body>
		
		<div id="container">
			
			<header>
				<%= @header %>
			</header>
		
			<%= erb :_menu %>
		
			<div id="main" role="main">
				<%= yield %>
			</div>
		
			<footer>
				<p>CMS to explain/demonstrate MongoDB</p>
				
		    <a href="https://twitter.com/<%= Site.twitter %>" class="twitter"><%= Site.twitter %></a>
				
			</footer>
			
		</div>
		
	</body>
</html>
